@import 'src/utils/styles/mixins.scss';

.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;

  .standard-post-list {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    position: relative;

    .post {
      float: left;
      margin: 0 0 80px 0;
      width: 100%;
      vertical-align: top;

      @include breakpoint(tablet) {
        min-height: 370px;
        width: 48%;

        &:nth-child(2n) {
          margin-left: 4%;
        }
      }

      @include breakpoint(desktop) {
        width: 30%;

        &:nth-child(2n) {
          margin-left: 0;
        }

        &:nth-child(3n),
        &:nth-child(3n-1) {
          margin-left: 5%;
        }
      }

      a {
        display: block;
      }

      .image, .image img {
        width: 100%;
      }

      .image {
        transition: opacity .2s ease-out;

        /**
         * All the nested image code below is stolen from .img-crop gist.
         * Forces image to 4:3 aspect ratio cropping at the middle.
         * http://dabblet.com/gist/4711695
         */
        background-color: #fff; // #ededed; /* some background color for short images */
        overflow: hidden;
        
        /* remove white-space for inline-block elements */
        letter-spacing: -0.31em; /* webkit */
        *letter-spacing: normal; /* reset IE < 8 */
        word-spacing: -0.43em; /* IE < 8 && gecko */

        &:before,
        img {
          /* vertically center the image */
          display: inline-block;
          vertical-align: middle;
        }

        &:before {
          /* pseudo element to vertically align image to */
          content: "";
          
          /* Magic Number */
          /* Set this to your desired height(to width) ratio */
          padding-top: 75%; /* % of original image width */ 
        }

        img {
          /* removes(sorta) image from the flow */
          padding-left: 100%;
          margin: -999em -100%;
        }
      }

      .title {
        float: left;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 15px 0 5px;
        color: #000;
      }

      .excerpt {
        font-size: 14px;
        line-height: 20px;
        color: #666;
        width: 100%;
      }
    }
  }
}